.message-section
  h3.message-thread-heading {{ this.state.thread.name }}
  ul.message-list
    message-list-item(
      ng-repeat="message in state.messages"
      key="{{message.id}}"
      message="message"
    )
  message-composer
