.thread-section
  .thread-count
    span Unread threads: {{ state.unreadCount || 0 }}
  ul.thread-list
    thread-item(
      ng-repeat="thread in state.threads"
      key="{{ thread.id }}"
      thread="thread"
      current-thread-id="{{ state.currentThreadID }}"
    )
